<h3>
    <!--<a href="<%= model.get("url") %>">-->
        <%= model.get("lijstnummer") %>. <%= model.get("naam") %>
    <!--</a>-->
</h3>
<section class="kandidaten">
    <% if (kandidaten) { %>
        <ol>
            <% kandidaten.forEach(function (kandidaat) { %>
                <li>
                    <h4><%= kandidaat.get("position") %>. <%= kandidaat.get("full_name") %><span>, <%= kandidaat.get("place") %> (<%= kandidaat.get("gender") %>)</span></h4>
                </li>
            <% }) %>
        </ol>
    <% } %>
<section>
